# Machine Learning project

In [1]:
import pandas as pd #for data set manipulation
import numpy as np #for mathematical calculations
import matplotlib.pyplot as plt #for graphs , charts to unerstand data 
%matplotlib inline

# reading data

In [2]:
data=pd.read_csv('Obesity based on eating habits & physical cond\ObesityDataSet_raw_and_data_sinthetic.csv')
data.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

# preprocessing

In [3]:
data.info()    #to see if there is missing data in the data set

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [4]:
#then, there is no missing values in the data set

In [5]:
#another way to check MV
print(data.isnull().sum())

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [6]:
data.isnull()          #if thereis no missing value, then it returns false

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2107,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2108,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2109,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2110,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [7]:
#for checking if there is categorical data
data.dtypes

Gender                             object
Age                               float64
Height                            float64
Weight                            float64
family_history_with_overweight     object
FAVC                               object
FCVC                              float64
NCP                               float64
CAEC                               object
SMOKE                              object
CH2O                              float64
SCC                                object
FAF                               float64
TUE                               float64
CALC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

In [8]:
print( data['Gender'].unique())
print(data['family_history_with_overweight'].unique())
print (data['FAVC'].unique())
print(data['CAEC'].unique())
print(data['SMOKE'].unique())
print(data['SCC'].unique())
print(data['CALC'].unique())
print(data['MTRANS'].unique())
print(data['NObeyesdad'].unique())
  #to show unique values of features of data type object

['Female' 'Male']
['yes' 'no']
['no' 'yes']
['Sometimes' 'Frequently' 'Always' 'no']
['no' 'yes']
['no' 'yes']
['no' 'Sometimes' 'Frequently' 'Always']
['Public_Transportation' 'Walking' 'Automobile' 'Motorbike' 'Bike']
['Normal_Weight' 'Overweight_Level_I' 'Overweight_Level_II'
 'Obesity_Type_I' 'Insufficient_Weight' 'Obesity_Type_II'
 'Obesity_Type_III']

In [9]:
data_encoded=data.replace({
        'Gender':{'Male':1,'Female':0},
        'family_history_with_overweight':{'no':0,'yes':1},
        'FAVC':{'no':0,'yes':1},
        'CAEC':{'Sometimes':0,'Frequently':1,'Always':2,'no':3},
        'SMOKE':{'no':0,'yes':1},
        'SCC':{'no':0,'yes':1},
        'CALC':{'Sometimes':0,'Frequently':1,'Always':2,'no':3},
        'MTRANS':{'Public_Transportation':0, 'Walking':1, 'Automobile':2, 'Motorbike':3,'Bike':4},
        'NObeyesdad':{'Normal_Weight':0, 'Overweight_Level_I':1, 'Overweight_Level_II':2,
                    'Obesity_Type_I':3, 'Insufficient_Weight':4, 'Obesity_Type_II':5,'Obesity_Type_III':6 }           
})

data_encoded

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,0,21.000000,1.620000,64.000000,1,0,2.0,3.0,0,0,2.000000,0,0.000000,1.000000,3,0,0
1,0,21.000000,1.520000,56.000000,1,0,3.0,3.0,0,1,3.000000,1,3.000000,0.000000,0,0,0
2,1,23.000000,1.800000,77.000000,1,0,2.0,3.0,0,0,2.000000,0,2.000000,1.000000,1,0,0
3,1,27.000000,1.800000,87.000000,0,0,3.0,3.0,0,0,2.000000,0,2.000000,0.000000,1,1,1
4,1,22.000000,1.780000,89.800000,0,0,2.0,1.0,0,0,2.000000,0,0.000000,0.000000,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2106,0,20.976842,1.710730,131.408528,1,1,3.0,3.0,0,0,1.728139,0,1.676269,0.906247,0,0,6
2107,0,21.982942,1.748584,133.742943,1,1,3.0,3.0,0,0,2.005130,0,1.341390,0.599270,0,0,6
2108,0,22.524036,1.752206,133.689352,1,1,3.0,3.0,0,0,2.054193,0,1.414209,0.646288,0,0,6
2109,0,24.361936,1.739450,133.346641,1,1,3.0,3.0,0,0,2.852339,0,1.139107,0.586035,0,0,6
2110,0,23.664709,1.738836,133.472641,1,1,3.0,3.0,0,0,2.863513,0,1.026452,0.714137,0,0,6

In [10]:
from sklearn.preprocessing import LabelEncoder
gle = LabelEncoder()
gender_labels = gle.fit_transform(data['Gender'])
gender_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
gender_mappings

{0: 'Female', 1: 'Male'}

In [11]:
gle = LabelEncoder()
family_labels = gle.fit_transform(data['family_history_with_overweight'])
family_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
family_mappings

{0: 'no', 1: 'yes'}

In [12]:
gle = LabelEncoder()
FAVC_labels = gle.fit_transform(data['FAVC'])
FAVC_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
FAVC_mappings

{0: 'no', 1: 'yes'}

In [13]:
gle = LabelEncoder()
CAEC_labels = gle.fit_transform(data['CAEC'])
CAEC_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
CAEC_mappings

{0: 'Always', 1: 'Frequently', 2: 'Sometimes', 3: 'no'}

In [14]:
gle = LabelEncoder()
SMOKE_labels = gle.fit_transform(data['SMOKE'])
SMOKE_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
SMOKE_mappings

{0: 'no', 1: 'yes'}

In [15]:
gle = LabelEncoder()
SCC_labels = gle.fit_transform(data['SCC'])
SCC_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
SCC_mappings

{0: 'no', 1: 'yes'}

In [16]:
gle = LabelEncoder()
CALC_labels = gle.fit_transform(data['CALC'])
CALC_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
CALC_mappings

{0: 'Always', 1: 'Frequently', 2: 'Sometimes', 3: 'no'}

In [17]:
gle = LabelEncoder()
MTRANS_labels = gle.fit_transform(data['MTRANS'])
MTRANS_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
MTRANS_mappings

{0: 'Automobile',
 1: 'Bike',
 2: 'Motorbike',
 3: 'Public_Transportation',
 4: 'Walking'}

In [18]:
gle = LabelEncoder()
NObeyesdad_labels = gle.fit_transform(data['NObeyesdad'])
NObeyesdad_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
NObeyesdad_mappings

{0: 'Insufficient_Weight',
 1: 'Normal_Weight',
 2: 'Obesity_Type_I',
 3: 'Obesity_Type_II',
 4: 'Obesity_Type_III',
 5: 'Overweight_Level_I',
 6: 'Overweight_Level_II'}

In [19]:
#then caterical data is encoded successfully 
#preprocessing is done

# Splitting dataset into input and output

In [20]:
X = data_encoded.drop(columns=['NObeyesdad'])
y = data_encoded['NObeyesdad']

# Splitting dataset into train, validation, and test

In [44]:
from sklearn.model_selection import train_test_split

X, X_test, y, y_test = train_test_split(X , y , test_size=0.30, random_state=0)

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.30, random_state=0)

print('X_train:', X_train.shape)
print('y_train:', y_train.shape)
print('------------------------')
print('X_val:', X_val.shape)
print('y_val:', y_val.shape)
print('------------------------')
print('X_test:', X_test.shape)
print('y_test:', y_test.shape)

X_train: (744, 16)
y_train: (744,)
------------------------
X_val: (319, 16)
y_val: (319,)
------------------------
X_test: (456, 16)
y_test: (456,)

# Naive Bayes

# categorical

In [45]:
# import classifier
from sklearn.naive_bayes import CategoricalNB

# create an object of CategoricalNB
cat_nb = CategoricalNB()
# we can also pass "alpha" value like this: 
# cat_nb = CategoricalNB(alpha=1.0)  # default is 1.0

# train our classifier
cat_nb.fit(X, y)

CategoricalNB()

In [46]:
# make predictions using training input (X)
y_pred = cat_nb.predict(X)

In [47]:
from sklearn.metrics import accuracy_score

# calculate accuracy of training
accuracy_score(y, y_pred)

0.7826904985888994

# Gaussian

In [48]:
# import classifier
from sklearn.naive_bayes import GaussianNB

# create an object of GaussianNB
gaussian_nb = GaussianNB()

# train our classifier
gaussian_nb.fit(X, y)

GaussianNB()

In [49]:
# make predictions using training input (X)
y_pred = gaussian_nb.predict(X)

In [50]:
from sklearn.metrics import accuracy_score

# calculate accuracy of training
accuracy_score(y, y_pred)

0.5747883349012229

# Mixed NB

In [51]:
!pip install mixed-naive-bayes

# or this:
#!pip install git+https://github.com/remykarem/mixed-naive-bayes#egg=mixed-naive-bayes

Requirement already satisfied: mixed-naive-bayes in c:\users\salma\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: scikit-learn>=0.20.2 in c:\users\salma\anaconda3\lib\site-packages (from mixed-naive-bayes) (1.1.1)
Requirement already satisfied: numpy>=1.16.1 in c:\users\salma\anaconda3\lib\site-packages (from mixed-naive-bayes) (1.20.3)
Requirement already satisfied: joblib>=1.0.0 in c:\users\salma\anaconda3\lib\site-packages (from scikit-learn>=0.20.2->mixed-naive-bayes) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\salma\anaconda3\lib\site-packages (from scikit-learn>=0.20.2->mixed-naive-bayes) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\salma\anaconda3\lib\site-packages (from scikit-learn>=0.20.2->mixed-naive-bayes) (1.7.1)

In [52]:
data.head()

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
0,Female,21.0,1.62,64.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,0.0,1.0,no,Public_Transportation,Normal_Weight
1,Female,21.0,1.52,56.0,yes,no,3.0,3.0,Sometimes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II

In [53]:
from mixed_naive_bayes import MixedNB

# create an object and specify the index of categorical features
# our categorical features are the first and fourth columns (index 0 and 3; 
#                                                             Outlook and Wind)
mixed_nb = MixedNB(categorical_features=[0, 4,5,8,9,11,14,15])
mixed_nb.fit(X, y)

[2 2 2 4 2 2 4 5]

MixedNB(alpha=0.5, var_smoothing=1e-09)

In [54]:
y_pred = mixed_nb.predict(X)
accuracy_score(y, y_pred)

0.6876763875823142